$brand-primary: #0ea8c2;
$brand-second: black;
$brand-success: #afc803;
$brand-info: #41aae1;
$brand-warning: #f26522;
$brand-danger: #cf2d13;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial,sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

//** Background color for `<body>`.
$body-bg: #fff;
//** Global text color on `<body>`.
$text-color: $gray-dark;

//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

//** By default, this inherits from the `<body>`.
$headings-font-family: $font-family-base;
$headings-font-weight: 700;
$headings-line-height: 1.1;

$well-border: transparent;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base: 50px;
$btn-border-radius-large: $btn-border-radius-base;
$btn-border-radius-small: $btn-border-radius-base;

$border-radius-base: 6px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

$btn-font-weight: 600;

$navbar-default-link-color: $gray-dark;
$navbar-default-bg: white;

$grid-float-breakpoint: $screen-md-min;

$badge-border-radius: 10px;

$input-border: $gray-500;
